html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

body {
	background-color: #000;
	color: #000;
}

.grid {
	width: 50vw;
  height: 50vw;
  margin-left: 25%;
  border: 1px solid white;
  border-width: 0 1px 1px 0;
}