$iphone5--lower: 320px;
$iphone5--upper: 568px;

$iphone6--lower: 375px;
$iphone6--upper: 667px;

$iphone6-plus--lower: 414px;
$iphone6-plus--upper: 736px;

@font-face {
  font-family: 'GothamRnd-Light';
  src: url('../assets/fonts/GothamRnd-Light.otf');
}

@font-face {
  font-family: 'GothamRnd-Medium';
  src: url('../assets/fonts/GothamRnd-Medium.otf');
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  color: #FAFAFA;
  background-color: rgb(76,77,79);
  font-family: GothamRnd-Medium;
}

.canvas {
  background-color: #000000;
}

#id {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.align-center {
	display: flex;
	align-items: center; 
	justify-content: center;
}

.app__header {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;

  .app__logo__container {
    width: auto;
    
    @media screen and (min-width: $iphone5--lower) and (max-device-width: $iphone5--upper) {
      margin-bottom: 0.5rem;
      height: 20px;
    }
    @media screen and (min-width: $iphone6--lower) and (max-device-width: $iphone6--upper) {
      margin-bottom: 0.5rem;
      height: 25px;
    }
    @media screen and (min-width: $iphone6-plus--lower) and (max-device-width: $iphone6-plus--upper) {
      height: 35px;
    }

    .app__logo {
      height: 100%;
      width: 100%;
      background-image: url(../assets/icons/logo.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center; 

      @media screen and (min-width: $iphone5--lower) and (max-device-width: $iphone5--upper) {
        margin-bottom: 10px;
      }
    }
  }

  .app__statement {
    font-family: GothamRnd-Light;
    display: block;

    @media screen and (min-width: $iphone5--lower) and (max-device-width: $iphone5--upper) {
      margin-top: 5px;
    }
    @media screen and (min-width: $iphone6--lower) and (max-device-width: $iphone6--upper) {
      margin-top: 5px;
    }
    @media screen and (min-width: $iphone6-plus--lower) and (max-device-width: $iphone6-plus--upper) {
      margin-top: 10px;
    }
  }
}

.control-buttons .control-buttons__rotate, .control-buttons .control-buttons__clear {
  margin-top: 5px;
  padding-right: 10px;
  padding-left: 10px;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100% !important;
    border-radius: 8px !important;
    @media screen and (min-width: $iphone5--lower) and (max-device-width: $iphone5--upper) {
      border-radius: 5px !important;
    }
    @media screen and (min-width: $iphone6--lower) and (max-device-width: $iphone6--upper) {
      border-radius: 8px !important;
    }
    @media screen and (min-width: $iphone6-plus--lower) and (max-device-width: $iphone6-plus--upper) {
      border-radius: 8px !important;
    }
    
    
    button {
      span {
        padding-left: 0 !important;
        text-transform: none !important;
        @media screen and (min-width: $iphone5--lower) and (max-device-width: $iphone5--upper) {
          font-size: 1.4rem !important;
          border-radius: 5px !important;
        }
        @media screen and (min-width: $iphone6--lower) and (max-device-width: $iphone6--upper) {
          font-size: 1.7rem !important;
          border-radius: 8px !important;
        }
        @media screen and (min-width: $iphone6-plus--lower) and (max-device-width: $iphone6-plus--upper) {
          font-size: 1.7rem !important;
          border-radius: 8px !important;
        }
      }
      svg {
        margin-left: 5px !important;
        margin-right: 5px !important;
      }
    }
  }
}

.pictionary {
  display: flex;
  align-items: center;
}

.pictionary__title, .pictionary__words {
  @media screen and (min-width: $iphone5--lower) and (max-device-width: $iphone5--upper) {
    font-size: 1.5rem;
  }
  @media screen and (min-width: $iphone6--lower) and (max-device-width: $iphone6--upper) {
    font-size: 1.7rem;
  }
  @media screen and (min-width: $iphone6-plus--lower) and (max-device-width: $iphone6-plus--upper) {
    font-size: 1.7rem;
  }
}

.pictionary__words {
  color: pink;
  margin-left: 0.5rem;
}

.pictionary__refresh {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.color-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100% !important;

  @media screen and (min-width: $iphone5--lower) and (max-device-width: $iphone5--upper) {
    height: 25px;
    width: 25px;
  }
  @media screen and (min-width: $iphone6--lower) and (max-device-width: $iphone6--upper) {
    height: 30px;
    width: 30px;
  }
  @media screen and (min-width: $iphone6-plus--lower) and (max-device-width: $iphone6-plus--upper) {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
  }

  .selected {
    border: 1px solid white;
    border-radius: 10px;
  }
}

.CLR_green, .CLR_blue, .CLR_orange, .CLR_yellow, .CLR_pink, .CLR_purple, .CLR_rainbow, .CLR_eraser, .CLR_red {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-left: 6px;
  margin-right: 6px;
}

.CLR_green {
  background-image: url(../assets/icons/CLR_green.png);
}

.CLR_blue {
  background-image: url(../assets/icons/CLR_blue.png);
}

.CLR_orange {
  background-image: url(../assets/icons/CLR_orange.png);
}

.CLR_yellow {
  background-image: url(../assets/icons/CLR_yellow.png);
}

.CLR_pink {
  background-image: url(../assets/icons/CLR_pink.png);
}

.CLR_purple {
  background-image: url(../assets/icons/CLR_purple.png);
}

.CLR_rainbow {
  background-image: url(../assets/icons/CLR_rainbow.png);
}

.CLR_red {
  background-image: url(../assets/icons/CLR_red.png);
}

.CLR_eraser {
  background-image: url(../assets/icons/CLR_eraser.png);
}

